# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------------
# Virtual Environment
# ----------------------------
.venv/
venv/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Secrets
# ----------------------------
*.key
*.pem
*.crt

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# Test & Coverage
# ----------------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------------
# Build
# ----------------------------
build/
dist/
*.egg-info/